# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*.local
frontend/.env

# Production
dist/
build/

# Misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

